<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link  rel= "apple-touch-icon" size= "57x57  " href= " /apple-icon-57x57.png " > <link rel= "apple-touch-icon" size = "60x60" href= "/apple -icon-60x60.png" > <link rel= "apple-touch-icon" boyutları= "72x72" href= "/apple-icon-72x72.png" > <link rel= "apple-touch-icon" boyutları= "76x76" href= "/apple-icon-76x76.png" > <link rel= "apple-touch-icon" boyutları= "114x114" href= "/apple-icon-114x114.png" >
   
  
  <link  rel= "apple-touch-icon" size  = "120x120"  href= "/apple-icon-120x120.png" > 
  <link  rel= "apple-touch-icon" size  = "144x144"  href= "/ apple-icon-144x144.png" > 
  <link  rel= "apple-touch-icon"  boyutları= "152x152"  href= "/apple-icon-152x152.png" > 
  <link  rel= "apple-touch-icon"  boyutları = "180x180"  href= "/apple-icon-180x180.png" > 
  <link  rel= "icon"  type= "resim/png"  boyutları= "192x192"  href= "/android-icon-192x192.png" > 
  <link  rel= "icon"  type= "image/png" size  = "32x32"  href= "/favicon-32x32.png" > 
  <link  rel= "icon"  type= "image/png" size  = "96x96"  href= "/favicon-96x96.png" > 
  <link  rel= "icon"  type= "image/png"  size= "16x16"  href= "/favicon-16x16. png" > 
  <link  rel= "açık" href= "/manifest.json" > 
  <meta  adı="msapplication-TileColor"  content= "#ffffff" > 
  <meta  name= "msapplication-TileImage"  content= "/ms-icon-144x144.png" > 
  <meta  name= "theme-color"  content= "#ffffff" >
  </head>
